---
import Container from "./Container.astro";
import AppStoreBadge from "./AppStoreBadge.astro";
import type { ImageMetadata } from "astro";
import "flickity/css/flickity.css";
import "../styles/flickity.css";
import { Image } from "astro:assets";

export interface Props {
  colorClassName: string;
  company: string;
  description: string;
  endDate: string;
  role: string;
  startDate: string;
  technologies?: string;
  title: string;
  website?: string;
  appStore?: boolean;
  slides?: ImageMetadata[];
}

const {
  appStore,
  colorClassName,
  company,
  description,
  endDate,
  role,
  startDate,
  technologies,
  title,
  website,
  slides,
} = Astro.props;
---

<article
  class="py-16 md:py-20 lg:py-32 even:bg-gray-100 dark:even:bg-gray-950 first:pt-4 text-gray-700 dark:text-gray-200"
>
  <div class="max-w-5xl mx-auto px-4 lg:px-0 rounded-xl">
    {
      slides ? (
        slides.length === 1 ? (
          <Image src={slides[0]} alt="" class="mb-12 lg:mb-20" />
        ) : (
          <div class="main-carousel mb-12 lg:mb-20">
            {slides.map((slide) => {
              return (
                <div class="carousel-cell">
                  <Image src={slide} alt="" class="rounded-xl" />
                </div>
              );
            })}
          </div>
        )
      ) : null
    }
  </div>
  <Container className="flex flex-col gap-4">
    <h2 class="font-semibold tracking-tight text-xl md:text-3xl lg:text-4xl">
      <span class={colorClassName}>{company}</span> &mdash; {title}
    </h2>
    <p class="leading-relaxed">{description}</p>
    <ul
      class="w-full flex flex-col gap-2 md:w-1/2 text-gray-700 dark:text-gray-300"
    >
      <li class="flex justify-between">
        <span class="text-gray-600 dark:text-gray-400">Role</span>
        <span>{role}</span>
      </li>
      {
        technologies && (
          <li class="flex justify-between">
            <span class="text-gray-600 dark:text-gray-400">Tech</span>
            <span>{technologies}</span>
          </li>
        )
      }
      <li class="flex justify-between">
        <span class="text-gray-600 dark:text-gray-400">Date</span>
        <span>{startDate}&ndash;{endDate}</span>
      </li>
      {
        website && (
          <li class="flex justify-between">
            <span class="text-gray-600 dark:text-gray-400">Website</span>
            <span>
              <a
                href={website}
                rel="noreferrer nofollow"
                class="link font-medium"
              >
                {appStore ? <AppStoreBadge /> : new URL(website).hostname}
              </a>
            </span>
          </li>
        )
      }
    </ul>
  </Container>

  <script>
    import Flickity from "flickity";

    Array.from(document.querySelectorAll(".main-carousel")).forEach((elem) => {
      new Flickity(elem, {
        prevNextButtons: false,
        wrapAround: true,
      });
    });
  </script>
</article>
