---
import type { CollectionEntry } from "astro:content";
import Container from "../components/Container.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../components/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Prose from "../components/Prose.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, canonical } = Astro.props;
---

<Layout title={title} description={description} canonical={canonical}>
  <Container>
    <article>
      <div>
        <Masthead title={title}>
          <div class="text-gray-400 mt-6">
            <FormattedDate date={pubDate} />
          </div>
        </Masthead>
        <Prose className="mt-6">
          <slot />
        </Prose>
        {
          canonical && (
            <div class="text-gray-600 mt-8 dark:text-gray-400">
              This article was originally published on{" "}
              <a href={canonical} class="link font-medium">
                {new URL(canonical).hostname}
              </a>
            </div>
          )
        }
      </div>
    </article>
  </Container>
</Layout>
